<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marvel Team Builder | Teams</title>
</head>
<body>
    <nav></nav>
    <main>
        <img src="" alt="">
        <div class="createTeam">Create Your Team!</div>
    </main>
    <section class="searchbar">
        <input type="text">
        <button class="search"></button>
    </section>
</body>
</html>