<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/jass.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Marvel&display=swap" rel="stylesheet">
    <title>Marvel Team Builder | Teams</title>
</head>
<body>
    <nav class="">
        <h1>MARVEL TEAM BUILDER</h1>
    </nav>
    <main>
        <img src="" alt="">
        <div class="createTeam">Create Your Team!</div>
    </main>
    <section class="searchbar">
        <input type="text">
        <button class="search"></button>
    </section>
    <script src="../../public/test.js"></script>
</body>
</html>