<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/jass.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Marvel&display=swap" rel="stylesheet">
    <title>Marvel Team Builder | Teams</title>
</head>
<body>
    <nav class="">
        <h1>MARVEL TEAM BUILDER</h1>
        <img src="../../public/images/ui_assets/exit.png" class="logout" alt="logout">
    </nav>
    <main>
        <img src="{{image_path}}" alt="{{description}}">
        <div class="createTeam">Create Your Team!</div>
    </main>
    <section class="searchbar">
        <input type="text" class="searchbar">
        <button class="search"><img src="../../public/images/ui_assets/search.png" class="search" alt="search"></button>
    </section>
    <section class="team_review">
        <div></div>
    </section>
    <section class="team_block">
        <div class="team_card">
        </div>
    </section>
    {{body}}
    <script src="../../public/test.js"></script>
</body>
</html>