

<body>
    <div class="characters-container">
        {{#each characters}}
            <div class="character">
                <h2>{{name}}</h2>
                <img src="{{image}}" alt="{{name}}">
            </div>
        {{/each}}
    </div>
</body>
