<body>
    <main>
        <img src="{{image_path}}" alt="{{description}}">
        <div class="createTeam">Create Your Team!</div>
</main>
<section class="searchbar">
        <input type="text" class="searchbar">
        <button class="search"><img src="images/ui_assets/search.png" class="search" alt="search"></button>
    </section>
    <section class="team_review">
        <div></div>
    </section>
    <section class="team_block">
        {{#each teams as |team|}}
            <div class="team .col-sm-3 .col-md-6">
                <h2>Team {{team.id}}</h2>
                <div class="chart"></div>
            </div>
            {{/each}}
</section>
<script src="/test.js"></script>
</body>