<body>
    <main>
        <img src="{{image_path}}" alt="{{description}}">
        <div class="createTeam">Create Your Team!</div>
</main>
<section class="searchbar">
        <input type="text" class="searchbar">
        <button class="search"><img src="images/ui_assets/search.png" class="search" alt="search"></button>
    </section>
    <section class="team_review">
        <div></div>
    </section>
    <section class="team_block">
            <form class="form new-project-form">
                <div class="form-group">
                    <label for="member1">Member 1</label>
                    <textarea class="form-input" id="text" name="member1"></textarea>
                </div>
                <div class="form-group">
                    <label for="member2">Member 2</label>
                    <textarea class="form-input" id="text" name="member2"></textarea>
                </div>
                <div class="form-group">
                    <label for="member3">Member 3</label>
                    <textarea class="form-input" id="text" name="member3"></textarea>
                </div>
                <div class="form-group">
                    <label for="member4">Member 4</label>
                    <textarea class="form-input" id="text" name="member4"></textarea>
                </div>
                <div class="form-group">
                    <label for="member5">Member 5</label>
                    <textarea class="form-input" id="text" name="member5"></textarea>
                </div>
                <div class="form-group">
                    <label for="member6">Member 6</label>
                    <textarea class="form-input" id="text" name="member6"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
</section>
<script src="/test.js"></script>
</body>