<body>
    <main>
        <img src="{{image_path}}" alt="{{description}}">
        <div class="createTeam">Create Your Team!</div>
</main>
<section class="searchbar">
        <input type="text" class="searchbar">
        <button class="search"><img src="images/ui_assets/search.png" class="search" alt="search"></button>
    </section>
    <section class="team_review">
        <div></div>
    </section>
    <section class="team_block">
        <div class="team_card">
            <h1>{{team_name}}</h1>
        </div>
</section>
<script src="/test.js"></script>
</body>