:root {
    --marvel: #EC1D24;
    --white: #fff;
    --off-white: #eeeeee;
    --black: #000000;
    --off-black: #222;
    --off-black2: #222;
    --dark-grey: #505050;
    --grey: #838383;
    --marvel_text: 'Marvel', sans-serif;
}

body {
  font-family: var(--marvel_text);
  font-size: 14px;
  color: var(--off-black);
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  background: var(--dark-grey) center;
  background-size: 100vw 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 340px;
}

.form_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav {
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 100px;
    background-color: var(--black);
    font-family: var(--marvel_text);
    z-index: 5;
}

h1 {
    width: 400px;
    background-color: var(--marvel);
    text-align: center;
    vertical-align: center;
    color: var(--white);
    font-size: 2.5em;
    line-height: 2em;
    font-weight: 900;
    font-family: var(--marvel_text);
    margin: 15px;
    z-index: 2;
}

a {
    text-decoration: none;
}

@media screen and (max-width: 400px){
    nav {
        display: flex;
        justify-content: center;
    }
    h1 {
        display: flex;
        align-content: center;
        justify-content: center;
        width: 300px;
        height: 50px;
        font-size: 1.8em;
    }
    .form {
        bottom: -50px
    }
}

.background-image {
    position: fixed;
    bottom: -0px;
    left: 0px;
    width: 100vw;
    opacity: 50%;
    z-index: 0;
}

@media screen and (max-width: 1200px){
    .background-image {
        display: none;
    }
}

@media screen and (max-width: 650px){
    .form_wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 650px){
    .login_wrapper {
        border-radius: 20px 20px 0px 0px !important;
        margin-bottom: 10px !important;
    }
    .signup_wrapper {
        border-radius: 0px 0px 20px 20px !important;
        margin-bottom: 10px !important;
    }
}

.form {
    display: flex;
    align-items: center;
    justify-content: auto;
    position: relative;
    font-family: var(--marvel_text);
    z-index: 6;
}

.form {
    h3 {
    color: var(--white);
    text-align: center;
    margin: 10px;
    font-size: 2.5em;
    }
}

.form_block {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
}

.login_wrapper {
    background-color: var(--off-black);
    border-radius: 50px 0px 0px 50px;
}

.signup_wrapper {
    background-color: var(--off-black);
    border-radius: 0px 50px 50px 0px;
}

.form_fild {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input_group {
    input {
        border-radius: 25px;
        margin: 5px;
        text-align: center;
    }
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 30px;
    border-radius: 15px;
    margin-top: 20px;
    font-family: var(--marvel_text);
    font-size: 1.2em;
    padding: 0px 12px;
    margin-bottom: 15px;
}

.signout {
    width: 125px;
    height: 40px;
    border: none;
    font-size: 1.8em;
    font-weight: bold;
    padding-right: 20px;
    border-radius: 15px 0px 0px 15px;
    background-color: var(--marvel);
}


.ui:hover {
    box-shadow: var(--marvel) 2px 2px 8px;
}
.ui:active {
    box-shadow: var(--off-white) 2px 2px 8px;
}

/* ==== Character Page Exclusive CSS ==== */

.characters-container {
    position: absolute;
    background-image: linear-gradient(45deg var(--off-black) var(--dark-grey));
    justify-content: center;
    top: 100px;
    left: 0px;
    margin: 20px;
    z-index: 1;

    @media screen and (max-width: 950px){
        .characters-container {
            width: 100vw;
        }
    }
}

.character {
    margin: 10px;
    border-radius: 30px;
    box-shadow: #000000 6px 6px 4px;
}

.card-title {
    color: var(--off-white);
    font-size: 2em;
    font-weight: 500;
}

.card-title:hover {
    color: var(--marvel);
}

.character {
    img {
        border-radius: 15px;
    }
}

.character:hover {
    box-shadow: var(--marvel) 2px 2px 8px;
}

.character:active {
    box-shadow: var(--off-white) 2px 2px 8px;
}


.char-image {
    width: auto;
    height: 200px;
}

@media screen and (max-width: 1200px){
    .char-image {
        width: 100px;
        height: 150px;
    }
}

@media screen and (max-width: 400px){
    .char-image {
        width: 50px;
        height: 100px;
    }
}

.charts-css {
    border-radius: 15px;
    td {
        padding: 100px;
        margin: 5px;
    }
}

.charts-css.bar tbody tr td {
    flex-direction: column;
}

// ==== Single ===

.image-main {
    width: 400px;
    height: 500px;
}