body {
  font-family: 'Marvel', sans-serif;
  font-size: 14px;
  color: #222;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  background: linear-gradient(45deg, #292929, #838383) center;
  background-size: 100vw 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 340px;
}

nav {
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 100px;
    background-color: black;
    font-family: 'Marvel', sans-serif;
    z-index: 1;
}

h1 {
    width: 300px;
    background-color: #EC1D24;
    text-align: center;
    vertical-align: center;
    color: #fff;
    font-size: 2.5em;
    line-height: 2em;
    font-weight: 900;
    font-family: 'Marvel', sans-serif;
    margin: 15px;
    z-index: 2;
}

main img {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    opacity: 50%;
    z-index: 0;
}

.form {
    z-index: 1;
    align-items: center;
    font-family: 'Marvel', sans-serif;
}

.form h3 {
    color: #fff;
    text-align: center;
    margin: 10px;
    font-size: 2.5em;
}

.form_block {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
}

.login_wrapper {
    background-color: #222;
    border-radius: 50px 0px 0px 50px;
}

.signup_wrapper {
    background-color: #222;
    border-radius: 0px 50px 50px 0px;
}

.form_fild {
    display: flex;
    flex-direction: column;
}

.input_group input {
    border-radius: 25px;
    margin: 5px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 20px;
    border-radius: 15px;
    font-family: 'Marvel', sans-serif;
}

/* ==== ==== */

.character-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1em;
}

.character {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  margin-top: 0.5em;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

.spiderman {
  background-image: url('spider-man.webp');}

/* ====Team Page Exclusive CSS ==== */

.searchbar {
    width: 570px;
    height: 90px;
    right: 150px;
}

.searchbar input {
    width: 460px;
    height: 90px;
}

.search {
    width: 90px;
    height: 90px;
}